<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Heartache.HeartacheSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Heartache.Heartache" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Heartache.HeartacheSettings>
            <setting name="DataWinPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DisassembledDataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TranslatedDataWinPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TranslationCSVPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ReplaceFontChunksPath" serializeAs="String">
                <value />
            </setting>
        </Heartache.HeartacheSettings>
        <Heartache.Heartache>
            <setting name="DataWinFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DisassembledDataFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TranslatedDataWinPath" serializeAs="String">
                <value />
            </setting>
        </Heartache.Heartache>
    </userSettings>
</configuration>